<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.-->
    <!---->

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="treeNodes" (click)="clickedFiles(node)"
        title="{{node.path}}/{{node.name}}">
        <!-- Files -->
        <span (contextmenu)="onRightClick($event, {folder: false, node})">{{node.name}}</span>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node treeNodes" (click)="showChildren($event,node)" matTreeNodeToggle
            (contextmenu)="onRightClick($event, {folder: true, node})"
            title="{{node.name === 'root' ? 'root' : node.path+'/'+node.name}}">
            <!-- ************************************************************************************************* -->
            <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" class="saif-fixing ">
                <mat-icon class="mat-icon-rtl-mirror ">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <!-- ************************************************************************************************* -->

            <!-- Folder Name -->
            <span>{{node.name}}</span>
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>
</mat-tree>


<!-- right click -->

<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: fixed;" [style.left.px]="menuTopLeftPosition.x"
    [style.top.px]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>


<!-- standard material menu -->
<mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent let-item="item">

        <!-- This 'Hide' button is created to handle the default selection -->
        <button style='display: none;' mat-menu-item
            (click)="clickedContextMenuItem({node:item.node,command:''})">Hide</button>

        <button mat-menu-item *ngIf="item.folder"
            (click)="clickedContextMenuItem({node:item.node,command:'mkdir'})">Create Folder</button>

        <button mat-menu-item *ngIf="item.folder"
            (click)="clickedContextMenuItem({node:item.node,command:'mkspf'})">Create SOP File</button>

        <button mat-menu-item *ngIf="item.folder"
            (click)="clickedContextMenuItem({node:item.node,command:'mktbl'})">Create Table File</button>

        <button mat-menu-item (click)="clickedContextMenuItem({node:item.node,command:'rm'})">Delete</button>

        <!-- command for rename will change, once the API is ready -->
        <button mat-menu-item (click)="clickedContextMenuItem({node:item.node,command:'ls'})">Rename</button>
    </ng-template>
</mat-menu>


<!-- dialog -->
<ng-template #dialogRefHtml>

    <h1 mat-dialog-title>Create {{dialogData.type}}</h1>

    <div mat-dialog-content>

        <p style="width: 200px;">{{dialogData.type}} will be created under <span
                style="font-weight: 500;">{{dialogData.name}}</span> folder.</p>

        <mat-form-field appearance="fill">
            <mat-label>Enter {{dialogData.type}} Name</mat-label>

            <input matInput #dialogInput>

        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close] (click)=" closeDialog()">Cancel</button>

        <!-- Create Folder -->
        <button mat-button [mat-dialog-close] cdkFocusInitial *ngIf="dialogData.type==='Folder'"
            (click)="createFolderFromDialog(dialogInput.value)">Create Folder</button>

        <!-- Create SOP File -->
        <button mat-button [mat-dialog-close] cdkFocusInitial *ngIf="dialogData.type==='SOP File'"
            (click)="createSopFileFromDialog(dialogInput.value)">Create
            SOP File</button>

        <!-- Create Table File -->
        <button mat-button [mat-dialog-close] cdkFocusInitial (click)="createTableFileFromDialog(dialogInput.value)"
            *ngIf="dialogData.type==='Table File'">Create
            Table File</button>
    </div>

</ng-template>


<!-- confirm delete dialog -->
<ng-template #confirmDeleteRefHtml let-data>
    <h1 mat-dialog-title>
        Are you sure ?
    </h1>

    <div style="width:16rem" mat-dialog-content>
        <p>Do you really want to delete this record? This process can not be undone.</p>
    </div>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close] (click)="onDismissDelete()">Cancel</button>

        <button mat-raised-button [mat-dialog-close] color="warn" (click)="onConfirmDelete(data)">Delete</button>
    </div>
</ng-template>