.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/*
* This padding sets alignment of the nested nodes.
*/
.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px; 
}

/*
* Padding for leaf nodes.
* Leaf nodes need to have padding so as to align with other non-leaf nodes
* under the same parent.
*/
.example-tree div[role=group] > .mat-tree-node {
    padding-left: 10px;
}


.saif-fixing{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.mat-tree-node{
    /* border: 1px solid black; */
    padding-right: 10px ;
}

.mat-tree-node{
    /* cursor: help; */
    cursor: pointer;
}  

.treeNodes{
    
}

.treeNodes:hover {
    background-color: rgba(211, 211, 211, 0.39);
}

.treeNodes:active {
    background-color: rgba(211, 211, 211, 0.39);
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}